@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes neon {
  0%, 100% {
    box-shadow: 0 0 10px rgba(139, 92, 246, 0.6), 0 0 20px rgba(139, 92, 246, 0.6);
  }
  50% {
    box-shadow: 0 0 20px rgba(139, 92, 246, 0.8), 0 0 40px rgba(139, 92, 246, 0.8);
  }
}

.animate-neon {
  animation: neon 1.5s ease-in-out infinite alternate;
}
